@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
body,
body * {
  all: unset;
  display: flex;
  flex-direction: column;
}

body {
  background: #fff;
  color: #1d1f4f;
  font-family: "Montserrat", sans-serif;
  font-size: 1.3em;
  padding: 15px;
}

h2 {
  display: block;
  font-size: 2rem;
  font-weight: bold;
  margin-bottom: 1rem;
}

h3 {
  font-size: 2rem;
  font-weight: bold;
}

h4 {
  display: block;
  font-size: 2em;
}

a {
  color: #000;
  text-decoration: none;
}

p {
  line-height: 1.3;
}

strong {
  display: inline !important;
  font-weight: bold;
}

.content-wrapper {
  max-width: 100vw;
  overflow-x: hidden;
}

.content {
  max-width: 1200px;
  overflow-x: visible;
}

.seo {
  clip: rect(1px 1px 1px 1px);
  height: 1px;
  overflow: hidden;
  width: 1px;
}

.navbar {
  align-items: center;
  justify-content: space-between;
  z-index: 1;
}
.navbar, .navbar * {
  flex-direction: row;
  gap: 10px;
}
.navbar-link {
  color: #000;
}
.navbar li {
  display: inline-block;
}
.navbar div {
  display: inline-flex;
}

.section-intro {
  align-items: center;
  justify-content: center;
  margin-bottom: 3rem;
}
.section-intro .img-wave-logo {
  margin-top: -6rem;
  max-width: 70rem;
  object-fit: cover;
}
.section-intro .img-swiss-made {
  max-width: 15rem;
}
.section-intro .logo-container {
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.section-intro h1 {
  font-weight: bold;
  font-size: 1.5rem;
}

.section-tech {
  flex-direction: row;
  gap: 75px;
  justify-content: center;
}
.section-tech p {
  display: inline-block;
  margin-bottom: 1rem;
}
.section-tech > div {
  overflow: hidden;
  width: 50%;
}

.tech-grid {
  display: grid;
  grid-gap: 15px;
  grid-template-columns: repeat(2, 2fr);
}
.tech-grid .card {
  align-items: center;
  justify-content: center;
}
.tech-grid img {
  max-width: 100%;
  max-height: 4rem;
  object-fit: contain;
}

.section-recommendations {
  flex-direction: row;
  gap: 75px;
}
.section-recommendations .col {
  flex: 1;
  width: 50%;
}
.section-recommendations li {
  padding: 0 0 1rem 0;
  margin-bottom: 1.5rem;
}
.section-recommendations li h3 {
  margin-bottom: 1rem;
}
.section-recommendations .img-logo2 {
  object-fit: cover;
  width: 150%;
  top: -12rem;
  left: 5rem;
  position: absolute;
}
.section-recommendations .certificate-col {
  gap: 3rem;
  overflow: hidden;
  position: relative;
  justify-content: flex-end;
}

.certificate {
  align-items: center;
  justify-content: center;
  flex-direction: row;
  padding: 2rem;
  background-color: #1d1f4f;
  border-bottom-left-radius: 6rem;
  border-top-left-radius: 6rem;
  color: #fff;
}
.certificate .img-certificate {
  margin: 1rem;
  width: 5rem;
}

.content-wrapper {
  align-items: center;
}

.list li {
  border-bottom: 2px solid #1d1f4f;
}

.logo-container {
  justify-content: center;
}

.section-comparison {
  align-items: center;
  justify-content: center;
  background-color: #1d1f4f;
  border-radius: 2rem;
  color: #fff;
  padding: 10rem;
  margin: 3rem 0;
}

.section-support {
  background: url("../../assets/images/Swiss Flag.png");
  background-size: 100%;
  flex-direction: row;
  height: 30rem;
  margin-left: calc(-1 * (100vw - 1200px) / 2);
  margin-right: calc(-1 * (100vw - 1200px) / 2);
  padding: 5rem calc(-1 * -1 * (100vw - 1200px) / 2);
}
.section-support .textcol {
  text-align: center;
}
.section-support .textcol h2 {
  margin-bottom: 2rem;
}

.footer, .footer a {
  color: #fff;
}
.footer > div {
  flex-direction: row;
  justify-content: space-around;
}
.footer .footer-top {
  background-color: #1d1f4f;
}
.footer .footer-bottom {
  background-color: #0f1326;
}

.flex {
  flex-grow: 1;
}
.flex-row {
  flex-direction: row;
}
.flex-center {
  justify-content: center;
  align-items: center;
}

.btn {
  border-radius: 20px;
  padding: 10px 15px;
  text-transform: uppercase;
  white-space: nowrap;
}
.btn-primary.btn {
  background: #1d1f4f;
  color: #fff;
  display: block;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
}
.btn-secondary {
  border: 3px solid #1d1f4f;
  font-weight: bold;
}
.btn-login {
  background: linear-gradient(90deg, #cbfeda 0%, #97bdfd 100%);
  text-transform: uppercase;
  display: block;
  padding: 5px 0.5rem;
  font-size: 0.7rem;
}

.card {
  background-color: #1d1f4f;
  border-radius: 20px;
  color: #fff;
  font-size: 2em;
  padding: 1.5rem;
}

.col {
  flex: 1;
}

/*# sourceMappingURL=style.css.map */
