@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(../../assets/fonts/montserrat.woff) format('woff');
}

:root {
    --bg-primary: #1D1F4F;

    --btn-gradient: linear-gradient(90deg, #CBFEDA 0%, #97BDFD 100%);
    --radius-btn: 20px;

    --padding-1: 5px;
    --padding-2: 10px;
    --padding-3: 15px;

    --color-dark: black;
    --color-light: white;
}

body, body * {
    all: unset;
    display: flex;
    flex-direction: column;
}

h2 {
    font-size: 2rem;
    display: block;
    font-weight: bold;
}


body {
    font-family: 'Montserrat', sans-serif;
    color: var(--bg-primary);
    padding: var(--padding-3);
    flex-direction: column;
}

a {
    text-decoration: none;
    color: var(--color-dark);
}

.navbar {
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}

.navbar, .navbar * {
    flex-direction: row;
    gap: 10px;
}

.navbar a {
    color: var(--color-dark);
}

.navbar ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding: var(--padding-1);
}

.navbar li {
    display: inline-block;
}

.navbar div {
    display: inline-flex;
}

.flex {
    display: flex;
}

.flex-row {
    flex-direction: row;
}

.flex-center {
    justify-content: center;
}

.img-wave {
    margin-top: -15rem;
    margin-left: 15rem;
}


.btn {
    border-radius: var(--radius-btn);
    padding: var(--padding-2);
    padding-left: 15px;
    padding-right: 15px;
    text-transform: uppercase;
    white-space: nowrap;
}

.btn-primary {
    padding-left: 30px;
    padding-right: 30px;
    background: var(--bg-primary);
    color: var(--color-light) !important;
    font-weight: bold;
    display: block;
}

.btn-secondary {
    border: 2px solid var(--bg-primary);
}

.btn-login {
    background: var(--btn-gradient);
    text-transform: uppercase;
    display: block;
}


.section-intro h1 {
    font-weight: bold;
    font-size: 2rem;
}

.section-tech {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 75px;
}

.section-recommendations {
    flex-direction: row;
}

.tech-grid {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    grid-gap: 15px;
}

.card {
    background-color: var(--bg-primary);
    color: var(--color-light);
    padding: var(--padding-3);
    font-size: 2em;
    border-radius: 20px;
}

.content-wrapper {
    display: flex;
    align-items: center;
}

.content {
    max-width: 850px;
    overflow-x: hidden;
}

.list { }

.list li {
    border-bottom: 2px solid var(--bg-primary);
}


h4 {
    display: block;
    font-size: 2em;
}

.logo-container {
    justify-content: center;
}
