@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

$bg-primary: #1d1f4f;
$bg-secondary: #0f1326;
$text-light: rgb(196, 195, 195);

:root {
  --section-gap: 2rem;
  --content-width: 1000px;
  --column-gap: 1rem;
}

html,body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Montserrat', sans-serif;
  color: $bg-primary;
}

nav {
  background-color: lightblue;
}

article {
  display: flex;
  flex-direction: column;
  justify-items: stretch;
  align-items: stretch;
  justify-content: stretch;
  gap: var(--section-gap)
}

section {
  background-color: lightcoral;
}

footer {
  background-color: lightcyan;
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

p {
  text-wrap: wrap;
}

.tech-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;

  li {
    display: inline-block;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: $bg-primary;
    color: $text-light;
  }
}

// Helpers

.columns {
  display: flex;
  flex-direction: row;
  gap: var(--column-gap);

  & > .column {
    flex: 1;
    padding: 1rem;
  }
}

.reduced-width {
  min-width: calc(min(100%, var(--content-width)));
  max-width: var(--content-width);
  margin: auto auto;
}

.bg-primary {
  background-color: $bg-primary;
  color: $text-light;
  a {
    color: $text-light;
  }
}

.bg-secondary {
  background-color: $bg-secondary;
  color: $text-light;

  a {
    color: $text-light;
  }
}

@media screen and (max-width: 800px) {
  :root {
    --content-width: 100%;
    --column-gap: 1rem;
    --section-gap: 1rem;
  }

  .columns {
    flex-direction: column;
  }
}
